*
{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: #02152c;
}

.container{
    display: flex;
}

.sidebar{
    width: 25%;
    height: 100vh;
    padding: 50px 0;
    background: linear-gradient(
        to right,
        #000000,
        #020C18,
        #062549
      );    position: fixed;
}

.category{
    margin-top: 50px;
    padding: 30px 40px;
}

.category h3{
    color: white;
    margin-bottom: 30px;
}

.content{
    width: 75%;
    position: absolute;
    right: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-bottom: 1px solid #eee;
    color: #383838;
    background-color: #062549;
}

.header p{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.logo {
    position: absolute;
    top: 0.9em;
    left: 1em ;
}

.logo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; /* Ubah sesuai dengan ukuran yang Anda inginkan */
    height: auto;
}


.fill-p{
    padding: 15px 15px;
    background-color: white;
    margin: 7px 0;
    cursor: pointer;
    color: #333;
    text-align: center;
    font-weight: 500;
}


.fill-p:hover {
    color: #fff;
    background-color: #aaa;
    box-shadow: none;
    transform: scale(1) translateX(17px);
    transition: box-shadow 0.5s, transform 0.9s;

}

.fill-p.active {
    background-color: #aaa;
    color: #fff;
}


button{
    width: 100%;
    position: relative;
    border: 2px solid #fff;
    border-radius: 25px;
    background-color: #aaa;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}

#root{
    background:#02152c;
    width: 100%;
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0 2rem 3rem color rgba(132, 139, 200, 0.18);
    transition: all 400ms ease;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #fff;
    padding: 15px;
    border-radius: 2rem;
    margin-bottom: 1rem;
    background-color:#062549;
    transition: box-shadow 0.5s, transform 0.9s;
}

.box:hover{
    box-shadow: 0 0 50px #0099FF;
    transform: scale(1.04) translateX(6px);
    transition: box-shadow 0.5s;
}

.box>h3 {
    margin-bottom: 20px;
    position: absolute;
    color: white;
}

.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}

.desc-box{
    width: 65%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
    margin-top: 20px;
    text-align: justify;
}

.images {
    max-height: 100%;
    max-width: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    border: 2px solid #fff;

}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
h5{
    font-size: 13px;
    color: white;
    font-style: normal;
}
button:hover{
    background-color: #333;
}